{% extends "layout.html" %}
{% block content %}

<script language="javascript" type="text/javascript">
function getUser(user)
{
document.getElementById("user_id").value = user;
document.getElementById("frm").action="update_user";
document.getElementById("frm").submit();
}

function goBack(user)
{
document.getElementById("user_id").value = user;
document.getElementById("frm").action="search_user";
document.getElementById("frm").submit();
}

</script>

<form id="frm" method="post">
    <input id="user_id" name="user_id" type="hidden"  value="{{user_id}}"/>

<table border="1">

<tr><td>Id</td><td>{{result.id}}</td></tr>
<tr><td>Name</td><td><input id="user_name" name="user_name" type="text" value="{{result.name}}" /></td></tr>
<tr><td>E-mail</td><td><input id="user_email" name="user_email" type="text" value="{{result.email}}" /></td></tr>
<tr><td>Password</td><td><input id="txtpasswd" name="txtpasswd" type="password" value="{{result.hashed_password}}" /></td></tr>
<tr><td>Address</td><td><input id="user_address" name="user_address" type="text" value="{{result.address}}" /></td></tr>
<tr><td>Active</td><td><input id="txtisactive" name="txtisactive" type="text" value="{{result.is_active}}" /></td></tr>
<tr><td><a href="javascript:;" onclick="getUser({{result.id}});" >Update</a></td><td><a href="javascript:;" onclick="goBack({{result.id}});" >Back</a></td></tr>

</table>
</form>
{% endblock %}